*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

@font-face {
    font-family: lifecraft;
    src: url("../font/LifeCraft_Font.ttf");
}

/* -------body------- */

body{
    font-family: lifecraft;
}

/* -------header------- */

.header{
    background: linear-gradient(#131c36,rgb(6, 7, 8));
}

.header__titulo{
    margin-bottom: 0;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    color:rgba(201, 106, 51, 0.9);
    text-shadow: 1px 1px 1px black;
    margin-left: 5%;
}

.titulo__mini{
    font-size: 3rem;
}

.fondo__menu{
    background: linear-gradient(#131c36,rgb(6, 7, 8));
}
.nav__bot{
    background-color: #131c36
}

.nav__juego{
    border: solid 1px rgba(201, 106, 51, 0.9);
    border-radius: 10px;
    background: linear-gradient(#131c36,rgb(6, 7, 8));
}

.nav__juego a{
    color: rgba(201, 106, 51, 0.9);
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    border-radius: 10px;
}

.navi{
    background: linear-gradient(#131c36,rgb(6, 7, 8));
}

.nav__color{
    color: rgba(201, 106, 51, 0.9) !important;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
}

.tit__nav{
    background-color: whitesmoke;
}


.header ul li:hover ul{
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 7, 8);
} 

.nav__juego a:hover{
    color:rgba(201, 106, 51, 0.9);
}


/* ----body----- */

.index__body{
    width: 100vw;
}

.index__section{
    background-image: url(../images/torre.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-right: 20px;
}

.section__div1{
    margin-top: 5%;
}


.section__div1 p{
    font-size: 7rem;
    text-align: center;
    color: #131c36;
    text-shadow: 1px 1px 1px white;
} 

.section__div2{
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
}

.section__div2 a{
    color:rgb(250, 247, 246);
    text-shadow: 3px 3px 3px black;
    background-color: #131c36;
    border-radius: 10px;
    border-style: double;
    width: 40%;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
}

.section__div2 a:hover{
    font-weight: bold;
    font-size: 90%;
}

.aside{
    background-color: #131c36;
    margin-left: -7.5px;
    margin-right: -7.5px;
    padding: 10px;
}

.aside h3{
    font-size: medium;
    color: aliceblue;
    margin-right: 50px;
}


.juego__body{
    background-color: gainsboro;
    width: 100vw;

}

.juego__section{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.juego__art1{
    border-bottom: solid #131c36;

}

.juego__art2{
    border-bottom: solid #131c36;

}

.juego__art3{
    border-bottom: solid #131c36;
}

.juego__div{
    background: linear-gradient(#131c36,white);
}

.juego__h2{
    width: 90%;
    text-align: center;
}

.juego__h2 h2{
    border-bottom: double;
    font-size: 5rem;
    color: whitesmoke;
}

.juego__p{
    color:#131c36;
    text-shadow: 1px 1px 1px white;
    width: 100%;
    text-align: center;
}

.juego__p p{
    font-size: 4rem;
    /* padding: 0 5% 0 5%; */
}

.noticias__body{
    width: 100%;
}


.noticias__section{
    background: linear-gradient(180deg, #19315e 0%, #050404 50%, #4b2414ec 100%);
}

.section__art1{
    background-image: url(../images/buho.jpg);
    background-size: cover;    
    height: 70vh;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: solid black 1px;
    background-position: center;
}

.section__art2{
    background-image: url(../images/rebajas.jpg);
    background-size: cover;
    border: solid black 1px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: end;
    border-top-right-radius: 50px;
}

.section__art3{
    background-image: url(../images/update.jpg);
    background-size: cover;
    border: solid black 1px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: center;
}

.section__art4{
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    height: 30vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid black 1px;
}

.art__titulo{
    font-size: 35px;
    color: white;
    text-decoration: underline;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.art__p{
    font-size: 2rem;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.section__art1:hover{
    border: solid yellow 1px;   
}
.section__art2:hover{
    border: solid yellow 1px;   
}
.section__art3:hover{
    border: solid yellow 1px;   
}
.section__art4:hover{
    border: solid yellow 1px;   
}

.foros__body{
    width: 100vw;
}

.foros{
    background-color: rgba(201, 106, 51, 0.9);
}

.foros__img{
    margin-bottom: 10px;
}

.foros__cate{
    border-radius: 15px;
    border: solid white 1px;
    background-color: #131c36;
    margin-right: 5px;
    margin-bottom: 10px;
}

.foros__desta{
    border-radius: 15px;
    border: solid white 1px;
    background-color: #131c36;
    margin-left: 5px;
    margin-bottom: 10px;
}


.foros__titulo{
    color: white;
    font-size: 40px;
    border-bottom: solid white 1px;
}

.foros__div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

.foros__art{
    font-size: 35px;
    border:white 1px;
    color: white; 
}

.foros__art img{
    width: 150px;
}

.foros__div p{
    font-size: 25px;
    border-bottom: solid white 1px;
    color: white;
}

.foros__art h3:hover{
    text-shadow: 2px 2px 2px #cc6235;
}

.foros__div p:hover{
    font-weight: bold;
}

.tienda__body{
    width: 100vw;
}

.tienda{
    background-color: rgb(29, 29, 29);
}

.tienda__div2{
    color: rgb(255, 255, 255);
    width: 100%;
}

.tienda__art{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 250px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(56, 56, 56, 0.6);
    padding: 0;
}

.tienda__art:hover{
    opacity: 0.5;
}

.tienda__art h2{
    text-align: center;
    font-size: 30px;
} 

.tienda__art p{
    text-align: center;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5%;
}

.tienda__carrusel{
    height: 60vh;
    width: 100vw;
    object-fit: none;
    object-position: center;
}

.tienda__art div{
    height: 60%;
    display: flex;
}

.tienda__art img{
    width: 100%;
    height:auto;
    object-fit: none;
    object-position: top;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tienda__h5{
    font-size: 50px;
}


.contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "head"
    "contacto"
    "foot";
    height: 100vh;
}

.contacto__section{
    background-image: radial-gradient(circle, #131c36, rgb(6,7,8));
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto__form{
    width: auto;
    border-width: 10px;
    text-align: center;
    margin: 5%;
    display: flex;
    justify-content: center;
    border: solid grey 1px;
    box-shadow:1px 1px 1px #cc6235;
}

.contacto__div{
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #cc6235;
    padding: 5%;
}

.contacto__field legend{
    font-size: 4rem;
    color:whitesmoke;
}

/* -------footer------- */

.footer{
    background-color: rgb(126, 126, 126);
    /* margin-left: -7.5px;
    margin-right: -7.5px; */
} 

.footer__img{
    width: 125px;
}

.footer a{
    font-size: medium;
    text-decoration: none;
    list-style: none; 
    display: flex;
    justify-content: center;
    color: white;
}

.footer a:hover{
    text-decoration: underline;
}

.footer p{
    padding-top: 10px;
}

@media (max-width:450px){
    .header nav > ul {
        display: flex;
        flex-direction: column;
        width: 20vh;
        list-style: none;
    }
    .header nav{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header__titulo{
        font-size: 3rem;
    }
    .juego__section{ 
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "iraz raz"
        "prof iprof"
        "iclas clas"; 
    }
    .tienda__div2{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(6,1fr);
        grid-template-areas:
        ". t1 t2 t3 ."
        ". t4 t5 t6 .";
        justify-items: center;
    }
    .tienda__div1 img{
        width: 100%;
    }
    .section__div1 p{
        font-size: 3rem;
    } 
    .section__div2{
        font-size: 2rem;
    }
}