
.contacto__section{
    background-image: radial-gradient(circle, $color-second, rgb(6,7,8));
}

.contacto__form{
    border: solid grey 5px;
    box-shadow:1px 1px 1px #cc6235;
}

.contacto__div{
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #cc6235;
    padding: 5%;
}

.contacto__field{
    legend{
        font-size: 4rem;
        color:white;
    }
}