.juego__body{
    background-color: #000000;
}

.raza__header{
    color: $color-ppal;
    background-color: $color-bkg;
}

.raza__nav{
    color:#050404;
}

.juego__raza{
    border: solid 1px white;
}

.raza__card{
    p{
        font-size: 2.5rem;
        color:white;
    }
    img{
        width: 15%;
    }
}

.juego__font{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.juego__art{
    border-bottom: solid $color-second;
}

.juego__div{
    background: linear-gradient($color-second,white);
}

.juego__h2{
    width: 90%;
    text-align: center;
    h2{
        border-bottom: double;
        font-size: 5rem;
        color: whitesmoke;
    }
}

.juego__p{
    color:#131c36;
    text-shadow: 1px 1px 1px white;
    width: 100%;
    text-align: center;
    p{
        font-size: 4rem;
    }
}