.noticias__section{
    background: linear-gradient(180deg, #19315e 0%, #050404 50%, #4b2414ec 100%);
}

.section__art1{
    background-image: url(../images/buho.jpg);
    background-size: cover;    
    height: 70vh;
    border-top-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: solid black 1px;
    background-position: center;
    &:hover{
        border: solid yellow 1px;
    }
}

.section__art2{
    @extend .section__art1;
    background-image: url(../images/rebajas.jpg);
    height: 35vh;
    border-top-right-radius: 50px;
    border-top-left-radius: 0;
}

.section__art3{
    @extend .section__art1;
    background-image: url(../images/update.jpg);
    height: 35vh;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.section__art4{
    @extend .section__art1;
    background-image: url(../images/mapa.jpg);
    height: 30vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0;
}

.art__titulo{
    font-size: 3rem;
    color: white;
    text-decoration: underline;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.art__p{
    font-size: 2rem;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.not__card{
    overflow: auto;
    h2{
    font-size: 3rem;
    }
    p{
    font-size: 2rem; 
    }
}