.tienda{
    background-color: rgb(29, 29, 29);
}

.tienda__div2{
    color: rgb(255, 255, 255);
}

.tienda__art{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 250px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(56, 56, 56, 0.6);
    padding: 0;
    &:hover{
        opacity: 0.5;
    }
    h2{
        text-align: center;
        font-size: 30px;
    }
    p{
        text-align: center;
        font-size: medium;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-bottom: 5%;
    }
    div{
        height: 60%;
        display: flex;
    }
    img{
        width: 100%;
        height:auto;
        object-fit: none;
        object-position: top;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.tienda__carrusel{
    height: 60vh;
    width: 100vw;
    object-position: center;
}

.tienda__h5{
    font-size: 5rem;
}